<div class="bootstrap-wrapper">
  <div id="home-container" class="row no-m">
    <div id="campos" class="col-3">
      <mat-card>
        <mat-card-content>
          <h3>Campos</h3>
          <div class="row">
            <app-formulario (fileUpdate)="onUpdate($event)"></app-formulario>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [disabled]="isDisabled" (click)="descargarPDF()">
            Descargar
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div id="vista-previa" class="col-9">
      <mat-card class="content">
        <mat-card-content>
          <div #contenidoPDF>
            <app-vista-previa [documento]="documento"></app-vista-previa>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
